<form>
    <div class="form-group">
        <center>
            <img src="systems/mega/images/Logo_Mega_Orange.png" style="border:none"><br><br>Bienvenue dans le système <b>MEGA 5ème Paradigme</b> !!!<br><br>Quand la force est inefficace<br>
                      Quand la puissance galactique est désarmée,<br>
                      Quand un grain de sable menace l'univers entier,<br>
                      Ou que le bout de l'univers est trop loin,<br>
                      Quand un génie distrait s'est perdu dans le cosmos,<br>
                      Quand un inconscient a pris la mauvaise porte,<br>
                      Quand un maître de l'univers en veut encore plus,<br>
                      Quand soudain les poules ont toujours eu des dents,<br>
                      Il serait peut-être temps d'appeler les <b>Messagers galactiques</b>...<br><br>
            <button type="button" id="open-config-button">Configurer MEGA</button>
        </center>        
    </div>
    <align="right"><label>Ne plus afficher</label><input type="checkbox" id="hide-checkbox" name="hide-checkbox" {{#if checked}}checked{{/if}}></align>
</form>