<form class="{{cssClass}} item-sheet-modern" autocomplete="off">
  <header class="itm-header">
    <div class="itm-orb-wrap">
      <span class="itm-orb item-view" value="{{item.img}}">
        <img class="itm-portrait" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="itm-orb-ring"></div>
        <div class="itm-orb-glow"></div>
      </span>
    </div>

    <div class="itm-header-body">
      <div class="itm-name-row">
        <h1 class="itm-name-wrap">
          <input name="name" type="text" value="{{item.name}}" placeholder="Nom de l'objet" />
        </h1>
        <span class="itm-type-badge"><i class="fas fa-box" style="margin-right:4px;"></i>Objet</span>
      </div>

      <div class="itm-stats-row">
        <div class="itm-chip">
          <span class="itm-chip-label"><i class="fas fa-layer-group"></i> Qté</span>
          <input type="text" class="itm-chip-input" name="system.quantity" value="{{system.quantity}}"
            data-dtype="Number" />
        </div>
        <div class="itm-chip">
          <span class="itm-chip-label"><i class="fas fa-weight-hanging"></i> Poids</span>
          <input type="text" class="itm-chip-input" name="system.weight" value="{{system.weight}}"
            data-dtype="Number" />
          <select class="itm-chip-select" name="system.weightUnit">
            <option value="kg" {{#if (eq system.weightUnit "kg" )}}selected{{/if}}>kg</option>
            <option value="g" {{#if (eq system.weightUnit "g" )}}selected{{/if}}>g</option>
          </select>
        </div>
        <div class="itm-chip">
          <span class="itm-chip-label"><i class="fas fa-coins"></i> Prix</span>
          <input type="text" class="itm-chip-input" name="system.prize" value="{{system.prize}}" />
          <select class="itm-chip-select" name="system.prizeUnit">
            <option value="Σ" {{#if (eq system.prizeUnit "Σ" )}}selected{{/if}}>Σ</option>
            <option value="Ω" {{#if (eq system.prizeUnit "Ω" )}}selected{{/if}}>Ω</option>
          </select>
        </div>
        <div class="itm-chip">
          <span class="itm-chip-label"><i class="fas fa-microchip"></i> NT</span>
          <input type="text" class="itm-chip-input" name="system.nt" value="{{system.nt}}" />
        </div>
      </div>
    </div>
  </header>

  {{#if GM}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a data-tab="description"></a>
  </nav>
  {{/if}} {{!-- Sheet Body --}}
  <section class="sheet-body" style="margin: 10px; padding: 0 5px">
    {{!-- Description Tab --}} {{#if GM}}
    <div class="tab" data-group="primary" data-tab="description">
      <div class="item-bandeau">
        <div class="desc-panel-outer">
          <div class="desc-panel-label desc-panel-label--fondamentaux">DESCRIPTION</div>
          <div class="desc-panel">
            <div class="desc-panel-body">
              {{/if}}
              <div class="itm-desc-body">
                {{editor enrichedBiography target="system.description" button=true
                editable=editable}} {{#if GM}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/if}} {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <!-- <header class="attributes-header flexrow"> -->
      <!-- <span class="attribute-key">Clé</span> -->
      <!-- <span class="attribute-value">Valeur</span> -->
      <!-- <span class="attribute-label">Label</span> -->
      <!-- <span class="attribute-dtype">Type</span> -->
      <!-- <a class="attribute-control" data-action="create"><i class="fas fa-plus"></i></a> -->
      <!-- </header> -->

      <ol class="attributes-list">
        {{#each system.attributes as |attr key|}}
        <li class="attribute flexrow" data-attribute="{{key}}">
          <input class="attribute-key" type="text" name="data.attributes.{{key}}.key" value="{{key}}" />
          {{#if attr.isCheckbox}}
          <label class="attribute-value checkbox"><input type="checkbox" name="data.attributes.{{key}}.value" {{checked
              attr.value}} /></label>
          {{else}}
          <input class="attribute-value" type="text" name="data.attributes.{{key}}.value" value="{{attr.value}}"
            data-dtype="{{attr.dtype}}" />
          {{/if}}
          <input class="attribute-label" type="text" name="data.attributes.{{key}}.label" value="{{attr.label}}" />
          <select class="attribute-dtype" name="data.attributes.{{key}}.dtype">
            {{#select attr.dtype}} {{#each ../dtypes as |t|}}
            <option value="{{t}}">{{t}}</option>
            {{/each}} {{/select}}
          </select>
          <a class="attribute-control" data-action="delete"><i class="fas fa-trash"></i></a>
        </li>
        {{/each}}
      </ol>
    </div>
  </section>
</form>