 <!-- <center><img src="systems/mega/images/Logo_Mega_Orange.png" style="width:50px;border:none"></center> -->


 <h3 class="nue">MEGA 5ème Paradigme</h3>
    <p class="nue"><b>Bienvenue dans Mega 5ème paradigme !</b><br>
        Cher aventurier,<br>   
        Nous sommes ravis de vous accueillir dans l’univers captivant de <a class="nue-tab" src="https://editions-leha.com/catalogue-details/mega-le-5e-paradigme-livre-de-base/" onclick="">Mega 5ème paradigme</a>.<br>
        Préparez-vous à explorer des mondes inconnus, à relever des défis épiques et à vivre des aventures inoubliables.<br>
        Que vous soyez un vétéran de Mega ou un nouveau venu, ce système est conçu pour offrir une expérience immersive et dynamique. Plongez dans l’action, laissez libre cours à votre imagination et faites de chaque session un moment mémorable.<br>
        Bon jeu et que l’aventure commence !<br><br>
        <i>&laquo;
            Quand la puissance galactique est désarmée,<br>
            Quand un grain de sable menace l'univers entier,<br>
            Ou que le bout de l'univers est trop loin,<br>
            Quand un génie distrait s'est perdu dans le cosmos,<br>
            Quand un inconscient a pris la mauvaise porte,<br>
            Quand un maître de l'univers en veut encore plus,<br>
            Quand soudain les poules ont toujours eu des dents,<br>
            Il serait peut-être temps d'appeler les<br><b>Messagers galactiques</b>...&raquo;
        </i>
    </p>
    <footer class="nue">
        <i class="fas fa-info-circle"></i>
        Vous pouvez modifier l'apparence de votre interface ou activer les effets spéciaux dans <a href="javascript:void(0)" onclick="game.settings.sheet.render(true);">les paramètres de Mega 5ème paradigme.</a><br>
        Pour les effets spéciaux, le module Sequencer est nécessaire.<br><br
    </footer>

        <!-- <a class="nue-tab" onclick="game.settings.sheet.render(true);">Messagers galactiques</a></b>...</p> -->